@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.options-bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    color: color-dark(text-white);

    @include laptop-layout() 
    {
        flex-direction: column-reverse;
        margin-bottom: 1.5rem;
        gap: 1rem;
    }

    &__container
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;  
        gap: 1rem;

        & > h1
        {
            color: color-dark(text-off-white);
            font-family: Verdana, Tahoma, sans-serif;
            font-size: 3rem;

            @include laptop-layout() 
            {
                font-size: 2rem;
            }
        }
    }

    &__button
    {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0.4rem;
        padding: 0.25rem 0.5rem;
        gap: 0.5rem;

        @include mobile-small-layout() 
        {
            justify-content: center;
            width: 42vw;
        }

        &:hover 
        {
            background-color: color-dark(bg-tertiary);
        }

        & > span 
        {
            color: color-dark(text-white);
            font-family: monospace, sans-serif;
            line-height: 1rem;
            font-size: 1rem;
        }

        & > svg 
        {
            filter: color-dark(svg);
            margin-top: 0.25rem;
            margin-bottom: 0.25rem;

            // Prevents options svg from shrinking.
            min-width: 1.15rem;
            min-height: 1.15rem; 
            max-width: 1.15rem;
            max-height: 1.15rem; 
        }

        &--inactive
        {
            @include border-lighting(dark, mid-neutral, soft-neutral);
            background-color: color-dark(bg-secondary);
        }

        &--active 
        {
            @include border-lighting(dark, soft-neutral, mid-neutral);
            background-color: color-dark(bg-tertiary);
            box-shadow: unset;

            &:hover 
            {
                background-color: color-dark(bg-quaternary);
            }
        }
    }
}