@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.textbox 
{
    position: relative;

    &__textarea 
    {
        border: none;
        resize: none;
        width: 39vw;
        height: 51vh;
        font-size: 1rem;
        line-height: 1.6;
        padding: 0.5rem;
        border-radius: 0 0 0.5rem 0.5rem;
        overflow-y: auto;

        background-color: color-dark(bg-secondary);
        color: color-dark(text-secondary);

        & a 
        {
            color: color-dark(text-primary);
            cursor: pointer;
        }

        &::placeholder
        {
            font-family: monospace, sans-serif;
        }

        &:hover, &:focus 
        {
            background-color: color-dark(bg-tertiary);

            &::-webkit-scrollbar-thumb 
            {
                border: 0.5rem solid color-dark(bg-tertiary);
                background: color-dark(bg-secondary);
            }

            @-moz-document url-prefix() 
            {
                scrollbar-color: color-dark(bg-secondary) color-dark(bg-tertiary);
            }
        }

        &::-webkit-scrollbar 
        {
            width: 1.5rem;
        }
    
        &::-webkit-scrollbar-track 
        {
            border-radius: 0.2rem;
            margin-top: 0.25rem;
        }
        
        &::-webkit-scrollbar-thumb 
        { 
            border: 0.5rem solid color-dark(bg-secondary);
            background: color-dark(bg-tertiary);
            border-radius: 1rem;
            margin: 1rem;
        }

        @-moz-document url-prefix() 
        {
            scrollbar-color: color-dark(bg-tertiary) color-dark(bg-secondary);
            scrollbar-width: thin;
        }
    
        @include laptop-layout() 
        {
            height: 30vh;
            width: 90vw;
        }
    }

    &__button 
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
        cursor: pointer;
        position: absolute; 
        border-radius: 0.5rem;
        padding: 0.4rem;
        opacity: 0.5;
        width: 2.5rem; 
        height: 2.5rem;
        top: 0.625rem;

        @include border-lighting(dark, strong-neutral, soft-neutral);
        background-color: color-dark(bg-tertiary);
        color: color-dark(text-off-white);

        & > svg
        {
            fill: color-dark(text-off-white);
        }

        &:hover 
        {
            opacity: 1;
        }
    }
}