@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.tooltip
{
    font-size: 1rem;
    font-family: monospace;
    text-align: center;
    position: fixed;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 16rem;
    z-index: 1000;
    top: -10rem; // Prevents tooltip from triggering onMouseLeave.

    @include border-lighting(dark, strong-neutral, soft-neutral);
    box-shadow: .25rem .15rem .25rem 0 rgba(0, 0, 0, 0.5);
    background-color: color-dark(bg-secondary);
    color: color-dark(text-off-white);

    &__addendum
    {
        display: inline-block;
        padding-top: 0.5rem;
        font-size: 0.8rem;
        font-style: italic;
        opacity: 75%;
    }
}