@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.home
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-dark(bg-primary);
    height: 100vh;
    width: 100vw;

    &__container
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 4rem; // Compensates for the <OptionsBar>.

        @include laptop-layout()
        {
            width: 100vw;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    &__translator
    {
        display: flex;
        gap: 1.5rem;

        @include laptop-layout() 
        {
            flex-direction: column;
        }
    }

    &__credits
    {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2.5em;
        position: fixed;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        color: color-dark(text-white);

        & a 
        {
            color: color-dark(text-off-white);
        }
    }
}